@using OnlineCommercialAutomation.Models;
@model InvoiceItem

@{
    ViewBag.Title = "AddInvoiceItem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>
<h2>Yeni Fatura Kalemi Ekle</h2>
<br>

<form class="form-group" method="post">
    <br>
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new{@class = "form-control"})
    <br>
    @Html.LabelFor(x => x.Quantity)
    @Html.TextBoxFor(x => x.Quantity, new{@class = "form-control"})
    <br>
    @Html.LabelFor(x => x.UnitPrice)
    @Html.TextBoxFor(x => x.UnitPrice, new{@class = "form-control"})
    <br>
    @Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount, new{@class = "form-control"})
    <br>
    @Html.LabelFor(x => x.InvoiceId)
    @Html.TextBoxFor(x => x.InvoiceId, new{@class = "form-control"})
    <br>
    <button class="btn btn-info">Kaydet</button>
</form>