@using OnlineCommercialAutomation.Models;
@model Invoice

@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<h2>Fatura Güncelleme</h2>
<br>
@using(Html.BeginForm("EditInvoice", "Invoice", FormMethod.Post))
{
    @Html.HiddenFor(x => x.InvoiceId)
    @Html.LabelFor(x => x.InvoiceSerialNumber)
    @Html.TextBoxFor(x => x.InvoiceSerialNumber, new {@class="form-control"})
    <br>
    @Html.LabelFor(x => x.InvoiceSequenceNumber)
    @Html.TextBoxFor(x => x.InvoiceSequenceNumber, new {@class="form-control"})
    <br>
    @Html.LabelFor(x => x.InvoiceDate)
    @Html.TextBoxFor(x => x.InvoiceDate, new {@class="form-control"})
    <br>
    @Html.LabelFor(x => x.TaxAdministration)
    @Html.TextBoxFor(x => x.TaxAdministration, new {@class="form-control"})
    <br>
    @Html.LabelFor(x => x.Time)
    @Html.TextBoxFor(x => x.Time, new {@class="form-control"})
    <br>
    @Html.LabelFor(x => x.Deliverer)
    @Html.TextBoxFor(x => x.Deliverer, new {@class="form-control"})
    <br>
    @Html.LabelFor(x => x.Receiver)
    @Html.TextBoxFor(x => x.Receiver, new {@class="form-control"})
    <br>
    <button class="btn btn-info">Güncelle</button>
}