@using OnlineCommercialAutomation.Models;
@model List<InvoiceItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<h2>Fatura Kalemleri</h2>
<br>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Adet</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.InvoiceItemId</td>
            <td>@item.Description</td>
            <td>@item.Quantity</td>
            <td>@item.UnitPrice</td>
            <td>@item.Amount</td>
        </tr>
    }
</table>

<a href="/Invoice/AddInvoiceItem" class="btn btn-info">Yeni Fatura Kalemi</a>

