@using OnlineCommercialAutomation.Models;
@model List<SalesMove>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.cName</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>Tarih</th>
        <th>Ürün Adı</th>
        <th>Personel Adı</th>
        <th>Adet</th>
        <th>Birim Fiyat</th>
        <th>Toplam Fiyat</th>
        <th>Yazdır</th>
    </tr>
    @foreach(var sales in Model)
    {
        <tr>
            <th>@sales.Date</th>
            <th>@sales.Product.ProductName</th>
            <th>@sales.Employee.EmployeeName @sales.Employee.EmployeeLastName</th>
            <th>@sales.Quantity</th>
            <th>@sales.UnitPrice</th>
            <th>@sales.TotalAmount</th>
            <th>
                <a href="#" class="btn btn-info">Yazdır</a>
            </th>
        </tr>
    }
</table>